<!-- extend from base layout -->
{% extends "base.html" %}

{% block content %}
<script type="text/javascript">
  function set_openid(url, name) {
    var u = url.search('<username>');
    if (u != -1) {
      // openid requires username
      var user = prompt('Enter your ' + name + ' username:');
      url = url.substr(0, u) + user
    }
    var form = document.forms['login'];
    form.elements['openid'].value = url;
  }
</script>
<h1>Sign In</h1>
<form action="" method="post" name="login">
  {{form.hidden_tag()}}
  <p>
    Please enter your OpenID, or select one of the providers below:<br>
    {{form.openid(size=80)}}<br>
    {% for error in form.errors.openid %}
    <span style="color: red;">[{{error}}]</span>
    {% endfor %}<br>
    [{% for provider in providers %}
    {% if not loop.first %} | {% endif %}<a href="javascript:set_openid('{{provider.url}}', '{{provider.name}}');">{{provider.name}}</a>
    {% endfor %}]
  </p>

  <p>{{form.remember_me}} Remember Me</p>

  <p><input type="submit" value="Sign In"></p>
</form>
<p>
  or
  <br>
  with <a href="{{url_for('facebook_login_oauth')}}">Facebook</a>.
</p>
{% endblock %}